*.groupproj.local
*.bdsproj.local
*.dproj.local
*.identcache
*.exe
*.dll
*.bpl
*.ocx
*.tlb
*.res
*.map
*.dcu
*.rsm
*.cfg
*.dsk
*.ddp
*.drc
*.spp
*.otares
*.~*
*.bak
*.bin
__history
*.suo
*.old
*.user
_ReSharper.*
*.sdf
*.log
*.tlog
*.pdb
*.lastbuildstate
*.vspscc
*.scc
bin
obj
